.map-container {
  height: 400px;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.main-container {
  display: flex;

  justify-content: center;

  align-items: center;

  background-color: white;

  height: 100vh;
}

.container {
  display: flex;

  justify-content: space-evenly;

  background-color: white;

  max-width: 1090px;
}

.route-container {
  text-align: center;

  width: 700px;

  height: 410px;

  background-color: #f5f7fa;

  border-radius: 8px;

  margin: 10px;
}

.driver-info {
  display: flex;

  justify-content: space-evenly;

  align-items: center;
}

.driver-info .chauffeur {
  font-size: 20px;
}

.driver-info img {
  width: 100px;

  height: 100px;

  border-radius: 50px;
}

.price-info {
  display: flex;

  justify-content: center;

  align-items: center;

  flex-direction: column;
}

.price-info .price-title {
  font-size: 20px;
}

.driver-info,
.price-info {
  width: 350px;

  height: 200px;

  margin: 10px;

  background-color: #f5f7fa;

  border-radius: 8px;
}
